body {
    background-color: white;
}

.calculator {
    width: 450px;
    height: 500px;
    background-color: rgb(39, 40, 50);
    border-radius: 20px;
}

.calculator input {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 30px;
    width: 280px;
    height: 60px;
    outline: none;
    border: none;
    background: rgb(94, 93, 101);
    border-radius: 7px;
    color: white;
    padding: 10px;
}

.calculator table {
    padding-top: 7vh;
    padding-left: 1.5vh;
}

.calculator table tr td button {
    width: 100px;
    height: 100px;
    font-size: 30px;
    background: rgb(94, 93, 101);
    border-radius: 7px;
    color: white;
    border: none;
    padding: 0;
    margin: 1px;
    font: poppins;
    outline: inherit;
}

.calculator table tr td button:hover {
    transform: scale(0.97);
    background: rgb(74, 74, 81);
    transition: 0.1s ease-in-out;
}

.calculator table tr td #minus {
    width: 100px;
    height: 100px;
    font-size: 40px;
    background: rgb(255 156 0);
    border-radius: 7px;
    color: white;
    border: none;
    padding: 0;
    font: poppins;
    outline: inherit;
}

.calculator table tr td #minus:hover {
    transform: scale(0.97);
    background: rgb(189, 117, 0);
    transition: 0.1s ease-in-out;
}

.calculator table tr td #plus {
    width: 100px;
    height: 100px;
    font-size: 40px;
    background: rgb(255 156 0);
    border-radius: 7px;
    color: white;
    border: none;
    padding: 0;
    font: poppins;
    outline: inherit;
}

.calculator table tr td #plus:hover {
    transform: scale(0.97);
    background: rgb(189, 117, 0);
}

.calculator table tr td #answer {
    width: 100px;
    height: 100px;
    font-size: 40px;
    background: rgb(255 156 0);
    border-radius: 7px;
    color: white;
    border: none;
    padding: 0;
    font: poppins;
    outline: inherit;
}

.calculator table tr td #answer:hover {
    transform: scale(0.97);
    background: rgb(189, 117, 0);
}

.calculator button {
    width: 100px;
    height: 80px;
    margin-left: 16px;
    font-size: 35px;
    background: rgb(255 156 0);
    border-radius: 7px;
    color: white;
    border: none;
    padding: 0;
    font: poppins;
    outline: inherit;
}

.calculator button:hover {
    transform: scale(0.97);
    background: rgb(189, 117, 0);
}